*{
    margin-top: 10px;
    font-family: sans-serif;
}
body{
    margin-left: 25%;
    margin-right: 25%;
}
.header{
    display: flex;
    justify-content: center;
}
.logo{
    height: 7vh;
    cursor: pointer;
    padding-top: 0;
}
.Main-Heading{
    padding-top: 2vh;
    margin-left: 1vh;
    margin-bottom: 0;
    cursor: pointer;
}
.tagline{
    margin-left: 38vh;
    margin-bottom: 5vh;
    margin-top: 0;
    margin-right: 23vh;

}
.icons{
    background-color: black;
    display: flex;
    justify-content: center;
    
}
.icons a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    margin-left: 8vh;
    padding: 10px;
    margin-top: 0;
}
.icons a:hover{
    background-color: #40A2D8;
}
.home{
    background-color: #40A2D8;
}
.main{
    margin-top: 3vh;
    margin-bottom: 3vh;
    background-color: #0B60B0;
    color: white;
    padding: 10px;
}
.main-div{
    display: flex;
    justify-content: center;
}
pre{
    width: 100%;
}
.product h2{
    color: black;
    text-decoration: none;
    font-weight: bolder;
    cursor: pointer;
    display: inline-block;
    height: 15px;
}
h2:hover{
    text-decoration: underline;
}
footer{
    background-color: black;
    width: 100%;
    margin-top: 5vh;
    color: white;
}
footer a:hover{
    text-decoration: underline;
    font-weight: bolder;
}
.footer {
    margin-left: 3vh;
    display: flex;
}
.footer a{
    color: white;
    text-decoration: none;
    padding-top: 2vh;
    margin-left: 3vh;
}
.contact{
    margin-right: 3vh;
}
.hom{
    padding-left: 20vh;
}